body{
    font-family: 'Lobster', cursive;
    background: rgb(74, 209, 164);
}

.header_div{
    background: white;
    color: rgb(119, 183, 255);
}

.header_div img{
    width: 100px;
}

.text_images_and_result{
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
    margin-top: 20px;
}
.text_images_and_result b{
    font-size: 25px;
}

.text_images_and_result img{
    height: 300px;
    width: 250px;
}

.text_images_and_result li{
    font-size: 25px;
}

.bob3{
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
    margin-top: 20px;
    width: 50%;
}

#h4{
    text-align: center;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
}